---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container">
    <h2 class="category-title">Publications</h2>
    {% assign sorted = site.publications | sort: 'year' | reverse %}
    {% assign nyear = 2000%}
    {% for post in sorted %}
    {% capture year %}{{ post.year }}{% endcapture %}
    {% if year != nyear %}
    {% assign nyear = year%}
    <h3 class="category-title">{{ post.year }}</h2>
      {% endif %}
      <div>
        <article class="post-item">
          <div class="article-title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
          </div>
          <span class="post-meta date-label">{{ post.acro }}</span>
        </article>
      </div>
      {% endfor %}
      <hr>
  </div>
  <div class="container">
    <h2 class="category-title">Press</h2>
    <ul>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://techxplore.com/news/2022-04-tools-languages-multiple-users.html">Creating tools to open up programming languages to multiple users</a></div>
        </li>
      </article>
    </ul>
    <hr>
  </div>


  {% include teaching.html %}

  <div class="container">
    <h2 class="category-title">Students</h2>
    <h3 class="category-title">Master</h3>
    {% assign sorted = site.m_students | sort: 'year' | reverse %}
    {% for student in sorted %}
      <div>
        <article class="post-item">
          <div class="article-title">
            <a class="post-link" href="{{ student.url | prepend: site.baseurl | prepend: site.url }}">{{ student.short_title }}</a> <small class="block" style="font-size: 15px;">{{ student.name }}</small> 
          </div>
          <span class="post-meta date-label">{{ student.year }}</span>
        </article>
      </div>
      {% endfor %}
    <!-- <h3 class="category-title">Bachelor</h3> -->
    {% assign sorted = site.b_students | sort: 'year' | reverse %}
    {% for student in sorted %}
      <div>
        <article class="post-item">
          <div class="article-title">
            <a class="post-link" href="{{ student.url | prepend: site.baseurl | prepend: site.url }}">{{ student.name }}</a>
          </div>
          <span class="post-meta date-label">{{ student.year }}</span>
        </article>
      </div>
      {% endfor %}
      <hr>
  </div>

  <div class="container">
    <h2 class="category-title">Academic services</h2>
    <h3 class="category-title">Organizer</h2>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://2023.splashcon.org/home/paint-2023/">Programming Abstractions and Interactive Notations, Tools, and Environments</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://conf.researchr.org/home/plnl-2023">Workshop on Programming Languages in The Netherlands</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://www.versen.nl">VERSEN - Chair Working Group: Community Events</a></div>
        </li>
      </article>
    <h3 class="category-title">Reviewer</h2>
    <ul>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://uist.acm.org/2023/">ACM Symposium on User Interface Software and Technology (UIST) 2023</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://chi2023.acm.org">ACM CHI Conference on Human Factors in Computing Systems 2023</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://www.journals.elsevier.com/science-of-computer-programming">Science of Computer Programming</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://chi2023.acm.org">ACM Conference on Human Factors in Computing Systems (CHI)</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title"><a class="post-link" href="https://www.springer.com/journal/10664">Empirical Software Engineering (EMSE)</a></div>
        </li>
      </article>
      <article class="post-item">
      <li>
        <div class="article-title"><a class="post-link" href="https://www.journals.elsevier.com/journal-of-systems-and-software">Journal of
          Systems and Software (JSS)</a></div>
      </li>
    </article>
    <article class="post-item">
      <li>
        <div class="article-title"><a class="post-link" href="https://www.springer.com/journal/10586">Journal of Cluster Computing, Networks, Software Tools and Applications</a></div>
      </li>
    </article>
    <article class="post-item">
      <li>
        <div class="article-title"><a class="post-link" href="https://conf.researchr.org/home/sle-2021">Conference on Software Language Engineering (SLE)</a></div>
      </li>
    </article>
    <article class="post-item">
      <li><a class="post-link" href="http://www.modelsconference.org">International Conference on Model Driven
          Engineering Languages and Systems (MODELS)</a></li>
        </article>
        <article class="post-item">
      <li><a class="post-link" href="http://gemoc.org/events/mle2019.html">Workshop on Modeling Language Engineering and
          Execution (MLE)</a></li>
        </article>
    </ul>
    <hr>
  </div>

  <div class="container">
    <h2 class="category-title">Tools</h2>
    <ul>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/cwi-swat/bacata">Bacatá</a></div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/koenvanwijk/blocklybench">Blocklybench</a></div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/cwi-swat/kogi">Kogi</a></div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/maveme/skogi">S/Kogi</a></div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/cwi-swat/bacata/tree/master/rascal-notebook">Rascal notebooks</a>
          </div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/cwi-swat/rascal-minijava">MiniJava</a>
          </div>
        </li>
      </article>
      <article class="post-item">
        <!-- <span class="post-meta date-label">{{ post.year }}</span> -->
        <li>
          <div class="article-title"><a class="post-link" href="https://github.com/cwi-swat/rascal-mps">Rascal2MPS</a>
          </div>
        </li>
      </article>
    </ul>
    <hr>
  </div>

  <div class="container">
    <h2 class="category-title">Talks</h2>
    <ul>
      <article class="post-item">
        <li>
          <div class="article-title">Language-Parametric User Interfaces for DSLs. <a class="post-link"
              href="https://spendlab.com">Spendlab</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title">Language-agnostic User Interfaces. <a class="post-link"
              href="https://www.altran.com/nl/en/">Capgemini (Altran)</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title">Research on (grammar-based) Software Language Engineering. <a class="post-link"
              href="">Guest Lecture - Generic language technology at TU/e</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title">Towards Language Workbench Support for Block-Based Language at <a class="post-link"
              href="http://langdevcon.org/">Langdev '19</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title">Bringing Domain-Specific Languages Closer to End-Users at <a class="post-link"
              href="https://www.tue.nl/en/research/research-areas/high-tech-systems/">HTSC Research Meet 'Digital
              Engineering'</a></div>
        </li>
      </article>
      <article class="post-item">
        <li>
          <div class="article-title">Bacatá: A Notebook Generator for DSLs at <a class="post-link"
              href="https://ipa.win.tue.nl/?event=fall-days-on-models-in-software-engineering">IPA Fall Days '18</a>
          </div>
        </li>
      </article>
    </ul>
    <hr>
  </div>

</section>
