<section class="intro">
  <div class="container">
    <p>Hi there! I'm an <span itemprop="jobTitle">Assistant Professor in Computer Science</span> at <a href="https://vu.nl/nl/" itemprop="affiliation" >VU Amsterdam</a>.</p>

       <!-- a Ph.D. student in the <a href="https://www.tue.nl/en/research/research-groups/software-engineering-and-technology/">SET</a> group at <a href="https://www.tue.nl/">TU/e</a> and <a href="https://www.cwi.nl/research/groups/software-analysis-and-transformation"> SWAT</a> group at <a href="https://www.cwi.nl/">CWI</a>.</p> -->
    <!-- <p>My research is currently funded through a collaboration between <a href="https://tue.nl">TU/e</a>, <a href="https://cpp.canon">Canon PP</a>, and <a href="https://new.siemens.com/nl/nl.html">Siemens</a></p>. -->
    
    <p> These are some of my research interests:</p>
    <ul style="padding-inline-start:3em">
      <li class="lead">Software language engineering</li>
      <li class="lead">End-user programming</li>
      <li class="lead">Domain-specific languages</li>
      <li class="lead">Sports analytics and data science</li>
      <li class="lead">Creative coding</li>
      <li class="lead">Block-based environments</li>
    </ul>
    
    <p>
      I'm also a guest researcher at <a href="https://www.tue.nl/en/research/research-groups/software-engineering-and-technology/" itemprop="affiliation">SET</a> group at <a href="https://www.tue.nl/" itemprop="affiliation">TU/e</a> and <a href="https://www.cwi.nl/research/groups/software-analysis-and-transformation"> SWAT</a> group at <a href="https://www.cwi.nl/" itemprop="affiliation">CWI</a>.
      </p>
      
      <p>Whether you're a fellow researcher, a student with a question, or just someone curious about my work, feel free to reach out and <a itemprop="email" href="mailto:m.verano.merino@vu.nl">m.verano.merino@vu.nl</a> conect! ⚽️🎾</p>

      <hr>
  </div>
</section>
<!-- on creating tools and user interfaces for DSLs, the intersection of sports and technology, cloud computing.</p></li> -->