<section class="intro">
  <div class="container">
    <p>Hello! I'm Mauricio Verano Merino, a Ph.D. student in the <a href="https://www.tue.nl/en/research/research-groups/software-engineering-and-technology/">SET</a> group at <a href="https://www.tue.nl/">TU/e</a> and <a href="https://www.cwi.nl/research/groups/software-analysis-and-transformation"> SWAT</a> group at <a href="https://www.cwi.nl/">CWI</a>.</p>
    <!-- <p>My research is currently funded through a collaboration between <a href="https://tue.nl">TU/e</a>, <a href="https://cpp.canon">Canon PP</a>, and <a href="https://new.siemens.com/nl/nl.html">Siemens</a></p>. -->
    
    <p> My research interests are: </p>
    <ul>
      <li class="lead">Software language engineering</li>
      <li class="lead">Humand-computer interaction</li>
      <li class="lead">Sports and technology</li>
      <li class="lead">Cloud computing</li>
    </ul>
    <hr>
  </div>
</section>


<!-- on creating tools and user interfaces for DSLs, the intersection of sports and technology, cloud computing.</p></li> -->