<section class="intro">
  <div class="container">
    <p class="lead">I am a PhD student in the <a href="https://www.tue.nl/en/research/research-groups/software-engineering-and-technology/">Software Engineering and Technology</a> group at <a href="https://www.tue.nl/">TU/e</a> and <a href="https://www.cwi.nl/research/groups/software-analysis-and-transformation"> Software Analysis and Transformation</a> group at <a href="https://www.cwi.nl/">CWI</a>. My PhD project is funded by <a href="https://cpp.canon">Canon</a>.</p>
    
    <p class="lead"> My research interests are: </p>
    <ul>
      <li class="lead">Software language engineering</li>
      <li class="lead">DSLs</li>
      <li class="lead">Humand-computer interaction</li>
      <li class="lead">Sports and technology</li>
      <li class="lead">Cloud computing</li>
    </ul>
  </div>
</section>


<!-- on creating tools and user interfaces for DSLs, the intersection of sports and technology, cloud computing.</p></li> -->