        <div class="container">
            <h2 class="category-title">Teaching</h2>
            <ul>
            <article class="post-item">
                <li>
                <div class="article-title"><a class="post-link"href="https://tue.nl">Generic Language Technology (2IMP20).</a></div>
                    <span class="post-meta date-label">
                        TU/e
                    </span>
                </li>
            </article>
            <article class="post-item">
                <li>
                <div class="article-title"><a class="post-link"href="https://tue.nl">Programming for Data Science (JBI010).</a></div>
                    <span class="post-meta date-label">
                        TU/e
                    </span>
                </li>
            </article>
            <article class="post-item">
                <li>
                <div class="article-title"> <a class="post-link"href="https://uniandes.edu.co">Object-Oriented Programming I (CS1)</a></div>
                    <span class="post-meta date-label">
                        Uniandes
                    </span>
                </li>
            </article>
            <article class="post-item">
                <li>
                <div class="article-title"><a class="post-link"href="https://uniandes.edu.co">CoderDojo - Colombia</a></div>
                    <span class="post-meta date-label">
                        Accenture
                    </span>
                </li>
            </article>
            </ul>
            <hr>
        </div>